version: "3.9"

services:
    minio:
        image: minio/minio:latest
        container_name: minio
        hostname: minio
        environment:
            MINIO_ROOT_USER: admin
            MINIO_ROOT_PASSWORD: admin123
        command: server /data --console-address ":9001"
        ports:
            - "9000:9000"
            - "9001:9001"
        volumes:
            - minio-data:/data
        networks:
            - datalake
        restart: unless-stopped

volumes:
    minio-data:

networks:
    datalake:
        driver: bridge
